/* CSS ONLY FOR LOGIN PAGE DO NOT CHANGE */

/* Fixing the top part*/
.top-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    padding: 15px 0; 
}

.nav-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s;
    padding: 8px;
    cursor: pointer;
}


:root {
    --card-bg-start: #ffffff;
    --card-bg-end: #f7f7ff;
    --text-color: #434343;
    --label-color: #4a4a4a;
    --border-color: #d1d5db;
    --separator-color: #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

body.dark-mode {
    --card-bg-start: #2a2a2a;
    --card-bg-end: #1f1f1f;   
    --text-color: #f0f0f0;    
    --label-color: #cccccc;   
    --border-color: #444444;  
    --separator-color: #383838;
    --shadow-color: rgba(0, 0, 0, 0.9);
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding-top: 80px; 
    padding-left: 30px;
    padding-right: 30px; 
}


.auth-wrapper-card {
      background: linear-gradient(to bottom, var(--card-bg-start), var(--card-bg-end)); /* needed for light and dark mode colour switch*/
    color: #333; 
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}


.auth-wrapper-card:hover {
    transform: translateY(-2px); 
}


.auth-wrapper-card h2 {
    color: var(--text-color); 
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 800; 
    text-align: center; 
}

.auth-wrapper-card label {
    display: block; 
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: var(--label-color); 
    font-size: 0.95rem;
}

.auth-wrapper-card input[type="email"],
.auth-wrapper-card input[type="password"] {
    width: 100%;
    padding: 12px; 
    background-color: var(--card-bg-start); 
    color: var(--text-color);
    border: 1px solid var(--border-color); 
    border-radius: 10px; 
    box-sizing: border-box;
    font-size: 1rem;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.auth-wrapper-card input[type="email"]:focus,
.auth-wrapper-card input[type="password"]:focus {
    border-color: #6a5acd; 
    outline: none;
    box-shadow: 0 0 0 4px rgba(106, 90, 205, 0.25); 
}


.auth-wrapper-card hr {
    border: 0;
    height: 1px;
    background-color: var(--separator-color); 
    margin: 2rem 0; 
}

.auth-wrapper-card .submit-btn {
    background-color: #6a5acd; 
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin-top: 1.5rem;
    transition: background-color 0.2s ease;
}

.auth-wrapper-card .submit-btn:hover {
    background-color: #5d4aaf; 
}
